@page
@model CarvedRock.WebApp.Pages.GetInTouchModel
@{
}

<h1>What's On Your Mind?</h1>

<form method="post">
    <fieldset>
        <div>
            <label for="content">Content:</label>
            <input asp-for="ContactUsContent" type="text" name="content" id="content"/>
        </div>
        <div>
            <label for="emailaddress">Email:</label>
            <input type="email" name="emailaddress" id="emailaddress">
        </div>
        <div>
            <input type="submit">
        </div>
    </fieldset>
</form>
